body {
  display: flex;
  justify-content: center;
}

.thumbWhats {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.postPrompt {
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: none;
  width: 18rem;
  padding: 5%;
}

.postPrompt:focus {
  outline: none;
}

.sendPostButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(132.96deg, #c468ff 3.32%, #6e91f6 100%);
  border: 2px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
}

.postArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.likedPosts {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 10rem;
  background-color: white;
  width: 100%;
  padding: 1rem;
}

.userThumb {
  height: 2rem;
}

.postTiming {
  display: flex;
  color: #000000;
  opacity: 0.5;
  margin-top: 0.2rem;
}

.cell {
  border-radius: 4px;
}

.userSharedAPostDiv {
  display: flex;
  justify-content: flex-start;
  border: 1 solid red;
}

.userSharedAPost {
  display: flex;
  font-size: 0.8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #000000;
  opacity: 0.5;
}

.sharedPost {
  margin-top: 1rem;
  margin-left: 2rem;
}

.likedPost {
  fill: linear-gradient(132.96deg, #c468ff 3.32%, #6e91f6 100%);
}

.postLikes {
  /* border: red dotted; */
  display: flex;
  justify-content: flex-end;
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}
