body {
  width: 100%;
}
.searchBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  border-bottom: solid 1px lightgrey;
  background-color: #f2f2f2;
}

.searchBarLikedFriendsFollow {
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: black;
  opacity: 0.5;
  height: 50%;
  display: flex;
  align-items: center;
}

li {
  float: left;
  margin-left: 2rem;
}

li:hover {
  opacity: 1;
}

.searchSpan {
  display: flex;
  gap: 1rem;
  padding: 0.3;
  width: 10rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: black;
  opacity: 0.5;
}

.searchIcon {
  fill: black;
}

.closeModalIcon {
  background: transparent;
  border: none;
  cursor: pointer;
}
