@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-size: 16px;
  --main-gradient: linear-gradient(132.96deg, #c468ff 3.32%, #6e91f6 100%);
  --black: #000000;
  --main-purple: #a580ff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}
